@using Teste.Models
@model Pessoa

@{
    //ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Pessoa";
}

<div class="container" style="margin-top:10%">
    <h1 style="text-align:center; color: Blue ">Cadastrar</h1>
    <form asp-controller="Pessoa" asp-action="Create" method="POST">

        <div class="form-group">
            <label style="color: black">Nome</label>
            <input type="text" class="form-control" name="Nome"/>
            <span asp-validation-for="Nome" style="color: red"></span>
            <br>
            <label style="color: black">Email</label>
            <input type="text" class="form-control" name="Email"/>
            <span asp-validation-for="Email" style="color: red"></span>
            <br>
            <label style="color: black">Telefone</label>
            <input type="text" class="form-control" name="Telefone"/>
            <span asp-validation-for="Telefone" style="color: red"></span>
            <br>
        </div>

        <button class="btn btn-primary">Salvar</button>

        <a href="/Pessoa/Index" class="btn btn-danger">Cancelar</a>
        
    </form>


</div>