﻿
@using Teste.Models
@model List<Pessoa>




@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Pessoa";
    
}


<div class = "container" style="margin-top:5%">
    <h1 style="text-align:center; color: white">Pessoas Cadastradas</h1>
    <a href="/Pessoa/Index" class="btn btn-sm btn-success" style="margin:2%">Novo</a>
    <table class="table" style="color: black">
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Entrada</th>
        
        @foreach(Pessoa p in Model)
        {
        <tr>
            <td>@p.Id</td>
            <td>@p.Nome</td>
            <td>@p.Email</td>
            <td>@p.Telefone</td>
            <td>@p.Entrada</td>
            <td><a href="/Pessoa/Update/@p.Id" class="btn btn-sm btn-primary"><i class="fas fa-pencil-alt"></i>Editar</a>
                <a href="/Pessoa/Delete/@p.Id" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i> Apagar</a>
        </td>
            
        </tr>
        }
    </table>
    
    
</div>
